<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anfy.com.anfy">

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>



    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--FCM -->

        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--FCM -->



        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ConsultationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Dialog.RequestConsultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity.Dialog.EditConsultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity.DoctorInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Dialog.SuggestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity.PrivacyAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PhoneLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Dialog.CountryDialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity.Dialog.CityDailog"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activity.ConfirmPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.AddAlarmActivity">
        </activity>

        <activity
            android:name=".Activity.Dialog.SelectWeekDaysActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />

        <activity
            android:name=".Activity.Dialog.SetDaysCountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".Activity.BigImageActivity"></activity>

        <activity android:name=".Activity.Dialog.GenderDialog"
            android:theme="@style/AppTheme.Dialog"/>
        <activity android:name=".Activity.Dialog.BirthdayDialog"
            android:theme="@style/AppTheme.Dialog"/>

        <!--alarm-->
        <receiver  android:name=".AlarmService.AlarmServiceReciver"/>

        <receiver
            android:name=".AlarmService.SampleBootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <!--alarm-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e01b86fb9fe4cd67cd73564c807b586b0ef4dd54" />


    </application>

</manifest>